.parent {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 9fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Appbar {
  grid-row: 1;
}
.App {
  grid-row: 2 8;
}
